@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Righteous&display=swap');

:root {
  --ff-h1: "Abril Fatface", cursive;
  --ff-lyrics: "Righteous", cursive;
  --ff-footer: "Abril Fatface", cursive;
  
  --fs-xxl: 4rem;
  --fs-xl: 2rem;
  --fs-600: 1.5rem;
  --fs-500: 1.2rem;
  --fs-400: 1rem;
  --fs-300: 0.75rem;
  --fs-sm: 0.5rem;
  --fs-xs: 0.4rem;

  --color-main: rgb(255, 255, 255);
  --color-secondary: #ffc600;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
}

html {
  font-size: var(--fs-400);
  background-image: 
      url('../../images/lynn-danielson-aEIMhuA-Ij8-unsplash-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
}

h1 {
  text-align: center;
  color: var(--color-main);
  text-shadow: 0 0 .125rem black;
  text-transform: uppercase;
  font-family: var(--ff-h1);
  font-size: var(--fs-xl);
  letter-spacing: .125rem;
}

footer {
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  margin-top: auto;
  text-align: center;
  font-family: var(--ff-footer);
  font-size: var(--fs-sm);
  padding-top: 10px;
  padding-bottom: 10px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  font-family: sans-serif;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

/* Logo */

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.image-parent {
  position: relative;
  padding: 30px;
  padding-top: 10px;
}

.corn {
  position: relative;
  height: 10rem;
  transform: all 0.5s ease;
  transform: rotate(-45deg);
}

.corn:hover {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

/* Keyboard Components */

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.keys {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.key {
  display: flex;
  border: .1rem solid black;
  border-radius: .5rem;
  margin: 0.5vh;
  padding: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  transition: all .07s ease;
  width: 8rem;
  height: 5rem;
  text-align: center;
  color: var(--color-main);
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

kbd {
  display: block;
}

.space {
  visibility: hidden;
}

.playing {
  transform: scale(1.1);
  border-color: #00ff26;
  box-shadow: 0 0 1rem #a7a7a7;
}

.lyrics {
  font-size: var(--fs-sm);
  font-family: var(--ff-lyrics);
  text-transform: uppercase;
  letter-spacing: .1rem;
  padding: 0 0 1em 0;
  width: 100%;
  color: var(--color-secondary);
  margin: auto;
}

.footnotes {
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  font-family: var(--ff-footer);
  font-size: var(--fs-400);
}

.footnotes > * {
  font-size: var(--fs-400);
}

.footnotes p {
  display: inline-block;
  text-transform: uppercase;
  padding: 1px;
  margin: 0;
  letter-spacing: .1rem;
}

.footnotes a {
  color: var(--color-secondary);
}

 @media screen and (min-width: 2560px) {

   .key {
     width: 12rem;
     height: 8rem;
     font-size: var(--fs-xl);  
   }

   .lyrics {
    font-size: var(--fs-500);
   }

 }

 @media screen and (max-width: 2559px) {

   .key {
     font-size: var(--fs-500);
   }

 }

  @media screen and (max-width: 1024px) {

    .key {
      font-size: var(--fs-300);
    }

    .lyrics {
      font-size: var(--fs-sm);
    }

  }

 @media screen and (max-width: 820px) {
  html {
    background-image: url('../../images/lynn-danielson-aEIMhuA-Ij8-unsplash-1500.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  h1 {
    font-size: var(--fs-500);
  }
  
  .key {
      width: 4rem;
      height: 4rem;
    }

  .logo {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  .corn {
    height: 124px;
  }

  .lyrics {
    font-size: var(--fs-xs);
  }
  
  .footnotes > * {
    font-size: var(--fs-sm);
  }
}

  @media screen and (max-width: 480px) {

    html {
      background-position: bottom left;
    }

    h1 {
      font-size: var(--fs-400);
    }

    .corn{
      height: 100px;
    }

    .keys {
      flex-wrap: wrap;
      box-sizing: border-box;
      flex-direction: row;
      justify-content: center;
    }

    .key {
      width: 7rem;
      height: 4rem;
    }

    .space{
      display: none;
    }

    .lyrics {
      font-size: var(--fs-sm);
    }
  }

  @media screen and (max-width: 320px) {
    .key {
        width: 5rem;
      }
    
    .lyrics {
      font-size: var(--fs-xs);
    }
  }