@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
  --background-color: #000000;
  --text-color: rgb(255, 255, 255);
  --font-family: 'Righteous', cursive;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
}

html{
  background-color: var(--background-color);
  font-family: var(--font-family);
  color: var(--text-color);
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
}

header {
  position: relative;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  padding: 12px;
  margin-bottom: 10px;
}

.projects {
  justify-content: center;
  align-items: center;
}

li {
  list-style: inside;
  padding: 6px;
}

li a {
  color: #3cff00;
}

li a:hover {
  color:#ffffff;
  transform: scale(1.1);
  transition: all 0.5s ease;
}

li a:visited {
  color: rgb(2, 119, 27);
  transform: scale(1.1);
  transition: all 0.5s ease;
}