@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Righteous&display=swap');

:root {
  --ff-h1: "Abril Fatface", cursive;
  --ff-main: "Abril Fatface", cursive;

  --color-main: rgba(146, 146, 146, 0.8);
  --color-accent: rgb(255, 255, 255);
  --color-red: rgb(252, 25, 25);
  --bg-canvas: whitesmoke;
}

html {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--ff-main);
  background-color: var(--color-main);
  min-height: 100vh;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
}

h1 {
  margin: 10px 0;
  color: var(--color-accent);
  font-family: var(--ff-h1);
  text-shadow: 4px 1px 4px black;
  letter-spacing: 0.05rem;
}

h3 {
  color: var(--color-accent);
  font-family: var(--ff-h1);
  text-shadow: 0px 1px 1px black;
  letter-spacing: 0.05rem;
}

canvas {
  box-sizing: outset;
  background: var(--bg-canvas);
  border: 2px solid rgba(0, 0, 0, .8);
  border-radius: 10px;
  margin-bottom: 20px;
  width: 90vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  width: 100%;
}

.container>* {
  margin: 8px 0px;
}

.container.row {
  flex-direction: row;
  align-items: stretch;
}

.container.row>* {
  margin: 0 4px;
  flex: 2;
  max-width: 10em;
}

.container.prompt-wrapper {
  margin-top: 0;
}

.controls {
  display: flex;
  color: var(--color-accent);
  text-shadow: 0px 1px 1px black;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.controls li {
  display: flex;
  list-style: none;
  padding: 10px 0;
  align-items: center;
}

.controls li label {
  padding: 0 8px;
}

.btn {
  padding: 10px;
  border: none;
  background-color: rgb(0, 59, 253);
  color: rgb(255, 255, 255);
  font-weight: 600;
  border-radius: 8px;
  transform: all 0.5s ease;
  cursor: pointer;
}

.btn:hover {
  filter: invert(1);
}

.time-warning {
  transform: scale(1.2);
  color: var(--color-red);
}

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  background: rgba(0, 0, 0);
}

.menu-inner {
  width: 100%;
}

.top-bar {
  display: none;
}

@media screen and (max-width: 820px) {
  .controls {
    flex-direction: column;
  }

  .nav-bar {
    height: 50px;
  }

  .nav-bar .menu-content-wrapper {
    background: rgba(0, 0, 0, .8);
    color: var(--color-main);
    top: 0;
    right: -1000px;
    transition: all 0.4s ease;
    width: 100%;
    height: 100%;
    z-index: 500;
    justify-content: flex-start;
    transition: all 0.3s ease;
    padding: 8px 0;
  }

  .nav-bar .menu-main {
    width: 100%;
    display: none;
  }

  .nav-bar .menu-main li>* {
    display: block;
    letter-spacing: 0.4px;
    text-align: left;
    padding-bottom: 4px;
    border-bottom: none;
  }

  .controls li {
    flex-direction: column;
    margin-right: auto;
    justify-content: center;
    align-items: flex-start;
  }

  .controls li label {
    padding-left: 0;
  }

  .top-bar {
    display: flex;
    margin: 0;
    margin-left: auto;
  }

  .top-bar>.btn.btn-menu {
    margin-left: auto;
    margin-right: 10px;
  }

  .nav-bar.responsive .menu-content-wrapper {
    overflow-y: scroll;
    position: fixed;
    top: 8px;
    right: -100px;
    flex-direction: column;
    padding: 0 20px;
  }

  .nav-bar.responsive .btn.btn-menu {
    margin-right: 90px;
  }

  .nav-bar.responsive .menu-main {
    display: flex;
    flex-direction: column;
  }
}